---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  You can also find my articles on <u><a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

<div>
     <p align="justify"> <blockquote style="max-width: 80%">
     Some of my publications related to power systems modeling, simulation & optimization are listed below. All publications are open access through <a href="https://hal.archives-ouvertes.fr/">HAL</a>.
     </blockquote> </p>

      <hr>

      <h2>Selected Publications</h2>

      <script src="https://bibbase.org/service/mendeley/b148566c-bc4a-3e6b-bcd9-eb0286561c6f?jsonp=1"></script>

</div>
