---
layout: archive
title: "Publications"
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  You can also find my articles on <u><a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

<div>
      <blockquote style="max-width: 80%">
        You can find some of my publications here related to power systems modeling and simulations.
      </blockquote>

      <hr>

      <h2>Selected Publications</h2>

      <script src="https://bibbase.org/show?bib=https%3A%2F%2FBiswarupM.github.io%2Ffiles%2Fbm.bib&jsonp=1"></script>

</div>
